@model List<Post>

@{
    ViewData["Title"] = "Posts";
    ViewData["HideFooter"] = true;
    
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="row text-center">
    <div class="col-4"></div>
    <div class="col-4 rounded border mb-3">
        <a asp-action="Create">Post something</a>
    </div>
</div>

<h2 class="text-center">Posts</h2>
<hr />


<div class="containerPost">

  
   
            @foreach(var post in @Model)
            {
            <div class="postTable">
                <h5>@post.Createdby</h5>
                <h5>@post.CreatedDate.ToShortDateString()</h5>
                <hr />
           
                        <div class="post">
                        @post.Content
                         </div>

                         </div>
            <p>
                Likes: @post.Likes
            </p>
                      

            }
  

</div>
    

