@model RegisterViewModel
    

@{
    ViewData["Title"] = "Register";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

</head>

<body class="loginBody">

    <div class="container">

<div class="row d-flex align-items-center justify-content-center">

            <div class="col-lg-4 card mb-3 shadow p-3 mb-5 rounded">
        <h2 class="text-center">Register</h2>
        <hr />

        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col">
                <div class="mb-1">
                    <label asp-for="FirstName">FirstName</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>

                </div>
                </div>
                <div class="col">
                <div class="mb-1">
                    <label asp-for="LastName">LastName</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>

                </div>
                </div>
            </div>

          

            <div class="mb-1">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>

            </div>

            <div class="mb-1">
                <label asp-for="UserName">UserName</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>

            </div>

            <div class="mb-1">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-1">
                <label asp-for="ConfirmPassword">ConfirmPassword</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            </div>

            <div class="row">
                <div class="col">
                <div class="mb-1">
                    <label asp-for="Country">Country</label>
                    <input asp-for="Country" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                </div>

                <div class="col">
                <div class="mb-1">
                    <label asp-for="City">City</label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                <div class="mb-1">
                    <label asp-for="Street">Street</label>
                    <input asp-for="Street" class="form-control" />
                    <span asp-validation-for="Street" class="text-danger"></span>

                </div>
                </div>
            </div>


            <div class=row>
                <div class="col mt-2">
                    <a asp-action="Login" class="text-decoration-none float-start mb-1 ">Have account?</a>
                </div>
                
                <div class="col pb-2 mt-2">
                                <input asp-action="Register" type="submit" value="Register" class="btn btn-primary btn-lg w-100 float-end" />
                </div>
                    </div>
           


        </form>

    </div>

        </div>

</div>

    <footer class="RegisterFooter">
        <b>FaceBlog </b>
        <br />
        Connect, share, and stay updated with friends and family.
        Experience seamless social networking with features you love,
        reimagined for a more personal touch. Join FaceBlog today!
    </footer>

</body>
</html>


@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
