@model RegisterViewModel
    

@{
    ViewData["Title"] = "Register";

    }

<div class="row d-flex align-items-center justify-content-center">

    <div class="col-lg-4 card mb-3">
        <h2 class="text-center">Register</h2>
        <hr />

        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col">
                <div class="mb-1">
                    <label asp-for="FirstName">FirstName</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>

                </div>
                </div>
                <div class="col">
                <div class="mb-1">
                    <label asp-for="LastName">LastName</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>

                </div>
                </div>
            </div>

          

            <div class="mb-1">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>

            </div>

            <div class="mb-1">
                <label asp-for="UserName">UserName</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>

            </div>

            <div class="mb-1">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-1">
                <label asp-for="ConfirmPassword">ConfirmPassword</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            </div>

            <div class="row">
                <div class="col">
                <div class="mb-1">
                    <label asp-for="Country">Country</label>
                    <input asp-for="Country" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                </div>

                <div class="col">
                <div class="mb-1">
                    <label asp-for="City">City</label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                <div class="mb-1">
                    <label asp-for="Street">Street</label>
                    <input asp-for="Street" class="form-control" />
                    <span asp-validation-for="Street" class="text-danger"></span>

                </div>
                </div>
            </div>


            <div class="row">
                <div class="col mt-2">
                    <a asp-action="Login" class="text-decoration-none float-start mb-1 ">Have account?</a>
                </div>
                <div class="row mx-auto">
                <div class="col pb-2">
                    <input asp-action="Register" type="submit" value="Register" class="btn btn-primary btn-lg w-100" />
                </div>
                </div>
            </div>


        </form>

    </div>



</div>


@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
